## Dependecies

In [19]:
import pandas as pd
from sqlalchemy import create_engine

## Store CSV´s into DataFrame - Extract

In [20]:
inegi_file = "../Resources/inegi.csv"
inegi_df = pd.read_csv(inegi_file)
inegi_df.head()

C:\Users\Juan Cortez\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,LONGITUD,LATITUD,ALTITUD,POBTOT,...,VPH_CEL,VPH_INTER,VPH_STVP,VPH_SPMVPI,VPH_CVJ,VPH_SINRTV,VPH_SINLTC,VPH_SINCINT,VPH_SINTIC,TAMLOC
0,0,Total nacional,0,Total nacional,0,Total nacional,NaN,NaN,NaN,126014024,...,30775898,18307193,15211306,6616141,4047100,1788552,3170894,15108204,852871,*
1,0,Total nacional,0,Total nacional,9998,Localidades de una vivienda,NaN,NaN,NaN,250354,...,47005,8385,18981,1732,1113,12775,14143,51293,7154,*
2,0,Total nacional,0,Total nacional,9999,Localidades de dos viviendas,NaN,NaN,NaN,147125,...,25581,5027,11306,971,708,8247,10065,29741,5283,*
3,1,Aguascalientes,0,Total de la entidad Aguascalientes,0,Total de la Entidad,NaN,NaN,NaN,1425607,...,359895,236003,174089,98724,70126,6021,15323,128996,1711,*
4,1,Aguascalientes,0,Total de la entidad Aguascalientes,9998,Localidades de una vivienda,NaN,NaN,NaN,3697,...,732,205,212,48,41,39,62,530,20,*

In [21]:
# Select certain columns
new_inegi_df = inegi_df[['ENTIDAD', 'NOM_ENT', 'MUN', 'NOM_MUN', 'LOC', 'NOM_LOC', 'POBTOT', 'POBFEM', 'POBMAS', 'P_60YMAS', 'PEA', 'PEA_F', 'PEA_M',\
                        'POCUPADA', 'POCUPADA_F', 'POCUPADA_M', 'TOTHOG', 'HOGJEF_F', 'HOGJEF_M', 'VIVTOT', 'TVIVHAB',\
                       'PROM_OCUP', 'PRO_OCUP_C']].copy()
new_inegi_df.head()

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,POBTOT,POBFEM,POBMAS,P_60YMAS,...,POCUPADA,POCUPADA_F,POCUPADA_M,TOTHOG,HOGJEF_F,HOGJEF_M,VIVTOT,TVIVHAB,PROM_OCUP,PRO_OCUP_C
0,0,Total nacional,0,Total nacional,0,Total nacional,126014024,64540634,61473390,15142976,...,61121324,25137019,35984305,35219141,11474983,23744158,43903443,35233462,3.56,0.96
1,0,Total nacional,0,Total nacional,9998,Localidades de una vivienda,250354,96869,153485,37383,...,127469,32906,94563,62516,8292,54224,101390,62767,3.18,1.03
2,0,Total nacional,0,Total nacional,9999,Localidades de dos viviendas,147125,61324,85801,21277,...,68215,18365,49850,36568,6620,29948,61435,36676,3.42,1.03
3,1,Aguascalientes,0,Total de la entidad Aguascalientes,0,Total de la Entidad,1425607,728924,696683,145376,...,692983,289268,403715,386445,119453,266992,463972,386671,3.68,0.89
4,1,Aguascalientes,0,Total de la entidad Aguascalientes,9998,Localidades de una vivienda,3697,1510,2187,448,...,2060,497,1563,807,123,684,1368,813,3.89,1.02

# Municipio Table

In [22]:
# Securing Clave_Entidad
new_inegi_df['Clave_Entidad'] = new_inegi_df['ENTIDAD']

# Adding new ID

# Convert claves to string to be able to concatenate
new_inegi_df['ENTIDAD'] = new_inegi_df['ENTIDAD'].astype(str)
new_inegi_df['MUN'] = new_inegi_df['MUN'].astype(str)

# Making a copy of clave entidad municipio to be able to concatenate
new = new_inegi_df['MUN'].copy()

# Concatenating clave Entidad & MUN
new_inegi_df['ENTIDAD'] = new_inegi_df['ENTIDAD'].str.cat(new, sep="-")

new_inegi_df.head()

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,POBTOT,POBFEM,POBMAS,P_60YMAS,...,POCUPADA_F,POCUPADA_M,TOTHOG,HOGJEF_F,HOGJEF_M,VIVTOT,TVIVHAB,PROM_OCUP,PRO_OCUP_C,Clave_Entidad
0,0-0,Total nacional,0,Total nacional,0,Total nacional,126014024,64540634,61473390,15142976,...,25137019,35984305,35219141,11474983,23744158,43903443,35233462,3.56,0.96,0
1,0-0,Total nacional,0,Total nacional,9998,Localidades de una vivienda,250354,96869,153485,37383,...,32906,94563,62516,8292,54224,101390,62767,3.18,1.03,0
2,0-0,Total nacional,0,Total nacional,9999,Localidades de dos viviendas,147125,61324,85801,21277,...,18365,49850,36568,6620,29948,61435,36676,3.42,1.03,0
3,1-0,Aguascalientes,0,Total de la entidad Aguascalientes,0,Total de la Entidad,1425607,728924,696683,145376,...,289268,403715,386445,119453,266992,463972,386671,3.68,0.89,1
4,1-0,Aguascalientes,0,Total de la entidad Aguascalientes,9998,Localidades de una vivienda,3697,1510,2187,448,...,497,1563,807,123,684,1368,813,3.89,1.02,1

In [23]:
new_inegi_df['MUN'] = new_inegi_df['MUN'].astype(int)
municipality = new_inegi_df[(new_inegi_df['LOC'] == 0) & (new_inegi_df['MUN'] != 0)]
municipality_table = municipality[['ENTIDAD', 'NOM_MUN', 'Clave_Entidad']]
municipality_table = municipality_table.rename(columns={'ENTIDAD':'Clave_Municipio', 'NOM_MUN':'Municipio'})
municipality_table = municipality_table.set_index('Clave_Municipio')
municipality_table.head()

                      Municipio  Clave_Entidad
Clave_Municipio
1-1              Aguascalientes              1
1-2                    Asientos              1
1-3                    Calvillo              1
1-4                       Cosío              1
1-5                 Jesús María              1

In [11]:
len(municipality_table)

2469